@model List<SistemaDeVendas.Entidades.Produto>;
@{
    ViewData["Title"] = "Produto";
}
    <h2>Produto</h2>
<hr />

<table class="table table-hover">
    <thead>
        <tr style="background-color :#f6f6f6">
            <th>Código</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Categoria</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr onclick="Editar(@item.Id)" style="cursor:pointer;">
            <td>@item.Id</td>
            <td>@item.Descricao</td>
            <td>@item.Quantidade</td>
            <td>@item.Valor</td>
            <td>@item.Categoria.Descricao</td>
        </tr>
        }
    </tbody>

    <tbody>
    </tbody>
</table>
<br />
<button class="btn btn-block btn-primary" onclick="Cadastrar()" type="button"> Cadastrar</button>

<script>
    function Editar(id) {
          window.location = window.origin + "\\Produto\\Cadastro\\"+ id;
    }
    function Cadastrar() {
        window.location = window.origin + "\\Produto\\Cadastro";
    }
</script>